.contentFooter{
    background: rgb(152,56,0);
    background: linear-gradient(0deg, rgba(152,56,0,1) 0%, rgba(215,104,38,1) 20%, rgba(236,136,77,1) 36%, rgba(242,192,163,1) 58%, rgba(251,231,220,1) 71%, rgba(255,255,255,1) 85%);
    height: 19rem;
    display: flex;
    justify-content: space-around;
}

.miniContentFooter{
    margin-top: 4rem;
}

.titleFooter{
    font-family: "Dancing Script", cursive;
    color:#fff;
    font-size: 3rem;
    text-shadow: 1px 1px 1px gray;
}

.descriptionFooterUl{
    font-family: "Josefin Sans", sans-serif;
    color:#fff;
    font-size: 1.3rem;
}

.descriptionFooterP{
    font-family: "Josefin Sans", sans-serif;
    color:#fff;
    font-size: 1.3rem;
    width: 90%;
}