.contentProducts{
    margin: 42rem auto 12rem auto;
    width: 70%; 
}

/* contiene las imagenes */
.contentGrandFather{
    display: grid;
    grid-template-columns: 30% 30% 40%;
}

.contentHorizonatal{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 1.5rem;
}

/*contiene las imagenes*/

.imageContentOne{
    margin-top: 0.5rem;
    width: 100%;
    height: 11.4rem;
}

.imageContentTwo{
    padding:0.5rem 1rem;
    width: 100%;
    height: 7rem;
    object-fit: cover;
    object-position: top;
}

.imageContentThreeHorizonatal1{
    padding: 0.4rem;
    margin-right: 0.5rem;
    width: 100%;
    height: 7.5rem;
    object-fit: cover;
}
.imageContentThreeHorizonatal2{
    padding: 0.4rem;
    margin-left: 1.5rem;
    width: 100%;
    height: 7.5rem;
    object-fit: cover;
}

.imageContentThree{
    padding: 0.3rem;
    padding-left: 2rem;
    width: 100%;
    height: 15.1rem;
    object-fit: cover;
    object-position: center;
}

#title{
    font-family: "Dancing Script", cursive;
    font-size: 3rem;
    font-weight: 200;
}

.fatherContent{
    position: relative;
    /* width: 100%; */
}
.textHoverCard1{
 position: absolute;
 top: 80%;
 color: rgb(75, 11, 11);
 backdrop-filter: blur(20px);
 height: 1.5rem;
 width: 100%;
 margin: 0.4rem 0 0 0;
 padding-top: 0.4rem;
 font-family: "Josefin Sans", sans-serif;
}

.textHoverCard2{
    position: absolute;
    top: -6%;
    color: rgb(75, 11, 11);
    backdrop-filter: blur(20px);
    height: 1.5rem;
    width: 100%;
    margin-left:1rem;
    padding-top: 0.4rem;
    font-family: "Josefin Sans", sans-serif;
   }

   .textHoverCard3{
    position: absolute;
    top: 59%;
    color: rgb(75, 11, 11);
    backdrop-filter: blur(20px);
    height: 1.5rem;
    width: 100%;
    margin-left:0.4rem;
    padding-top: 0.4rem;
    font-family: "Josefin Sans", sans-serif;
   } 
   
   .textHoverCard3right{
    position: absolute;
    top: 59%;
    color: rgb(75, 11, 11);
    backdrop-filter: blur(20px);
    height: 1.5rem;
    width: 100%;
    margin-left:1.9rem;
    padding-top: 0.4rem;
    font-family: "Josefin Sans", sans-serif;
   } 

   .textHoverCard3coctel{
    position: absolute;
    top: 79%;
    color: rgb(75, 11, 11);
    backdrop-filter: blur(20px);
    height: 1.5rem;
    width: 100%;
    margin-left:2rem;
    padding-top: 0.4rem;
    font-family: "Josefin Sans", sans-serif;
   }